@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Josefin+Sans:wght@700&display=swap");
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    font-family: "Josefin Sans", sans-serif;
}

.flex {
    display: flex;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
